<p>Welcome, {{ user }}!</p>

<p>Your Friends</p>
{% if friend_list %}
    <ul>
    {% for friend in friend_list %}
        <li><a href="/lendinglib/friend_profile/{{ friend.user.pk }}/">{{ friend }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No friends yet.</p>
{% endif %}

<p>Your Files</p>
{% if file_list %}
    <ul>
    {% for file in file_list %}
        <li><a href="/lendinglib/file_detail/{{ file.pk }}/">{{ file }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No files yet.</p>
{% endif %}

<p>Update your email address</p>
<form action="update/" method="post">
{% csrf_token %}
<input type="text" name="new_email"/>
<input type="submit" value="submit"/>
</form>